.banner {
  background-color: grey;
}

.title {
  font-family: 'Bangers', cursive;
  font-size: 80px;
  margin-top: 80px;
  margin-left: 220px;
  color: black;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.manaImg {
  height: 55px;
  width: 275px;
  margin-left: 20px;
}

.dice {
/*  margin-top: 200px;*/
  background-color: grey;
}

/*.planeImg {
  margin-left: 300px;
}*/

.navButtons {
  margin-left: 170px;
}
/*.btn1 {
 background-color: purple;
}*/

.planeCtrl {
  display: inline-block;
}

.planeImg {
  border-radius: 30px;
}

.diceRoll {
  vertical-align:top;
  margin-top: 230px;
  margin-left: 50px;
  display: inline-block;
}

.rollCount {
  border-style: solid;
  border-width: 5px;
  border-color: black;
  margin-right: 110px;
  text-align: center;
  background-color: white;
}

.diceImg {
  border-style: solid;
  border-width: 5px;
  border-color: black;
  padding: 10px 20px 10px 20px;
  background-color: white;
}

.cardBackground {
  background-image: url("http://wallpaper.zone/img/4525969.jpg");
  background-size: 1175px 600px;
  
}

.legal {
  font-size: 10px;
}